


.btn{
  font-family: Karla, sans-serif;
  margin: 3px;
}

.btnCTA{
  font-weight:bold;
  color: 050505;
  background-color: #FFBB22;
  border: #FFBB22 solid 2px;
}

.btnSCND{
  border: #FFBB22 solid 2px;
  color:  050505;
  font-weight: bold;
}

.btnCTA:hover{
  background-color: #FFE6AE;
  color: 050505;
}
.btnSCND:hover{
  border: #FFE6AE solid 2px;
  color: 050505;
}

.link{ 
  color: #BD09FF; 
}

.link:hover {
  color: #E8C7F5;
  text-decoration: none;
}



/*NavBar Code START*/
.bg-light{
    background-color:white !important;
}

.navbar{
  height: 60px;
  padding: 0 5%;
}

.navbar-light .navbar-brand{
  font-family: 'Karla';
}

.justify-content-end {
  margin-left: auto;
}

.navbar-brand{
  margin: 0;
}

.navbar-nav{
  font-family: Karla;
}

.nav-item{
  margin-left: 30px;
}

.nav-link{
  color:gray !important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,0,.9) !important;
}

li a:hover { color: black !important; background-color: white; }


/*Intro Section START*/


.introContainer{
  display:grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 50px auto 100px auto;
}

.introPhotoContainer{
  display: flex;
}
.introPhoto{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.introTextContainer{
  display:flex;
  flex-direction: column;
  margin-top:auto;
  margin-left: 5%;
}

.introName {
  font-family: 'Karla', sans-serif;
  font-size: 28px;
  display: inline-block;
  margin: 0%;
  font-weight:700;
}

.introRole {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  display: inline-block;
  font-weight: 400;
}


.introSummary {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  width: 436px;
  display: block;
  font-weight: 200;
  box-sizing: border-box;
}

.introBtnContainer{
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.btn1{
  margin-left: 0;
}

.introBtn{
  margin-bottom: 0;
}

/*Work Section START*/

.workSectionContainer{
  margin-bottom: 100px;
}

.workCardContainer{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.artpass{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "content apIMG";
}

.blossom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "blosIMG content";
}

.wri {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "content wriIMG";
}

.workTextContainerRight{
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-left: 5%;
  margin-bottom: 8px;
  grid-area: content;
}

.workTextContainerLeft{
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 8px;
  margin-right: 5%;
  text-align: right;
  grid-area: content;
}

.workTitle{
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}

.workRole{
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
}

.workTools{
  margin-bottom: 1rem;
}

.workSummary{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.workPhotoContainer{
  display: flex;
  padding: 75px 0 75px 0;
}

.workMobilePhoto{
  display: none;
}

.Container1{
  background-color: #E8C7F5;
  grid-area: apIMG;
}

.Container2{
  background-color: #F4ECF6;
  grid-area: blosIMG;
}

.Container3{
  background-color: #E8C7F5;
  grid-area: wriIMG;
}

.workPhoto{
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.workBtnContainer{
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.workBtnRight{
  grid-template-areas: "fake real";
}

.workBtnLeft{
 grid-template-areas: "real fake";
}

.workBtn{
  grid-area: real;
}

.fakeWorkBtn{
  grid-area: fake;
}



/*ABOUT.HTML*/
/*
.myStory{
  margin-top:0;
}

.aboutContainer{
  display: grid;
  width: 65%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
}

.aboutCardRight{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.aboutPhotoContainer{
}

.aboutMobilePhoto{
  display:none;
}

.aboutPhoto1{
  height: 274px;
  border: solid 4px #E8C7F5;
}

.aboutPhoto2{
  height: 274px;
  border: solid 4px #F4ECF6;
}

.aboutPhoto3{
  height: 274px;
  border: solid 4px #E8C7F5;
}

.aboutTextRight{
  margin-top: auto;
  margin-left: 3%;
}

.aboutTextLeft{
  margin-top: auto;
  margin-right:3%;
  text-align: right;
}

.aboutCardLeft{
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top:100px;
  margin-bottom: 100px;
}

.aboutHeader{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-bottom: .75rem;
  font-size: 18px;
}

.aboutParagraph{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 0;
}
*/

/*ABOUT.HTML V2*/

.aboutContainer{
  display:grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 0 auto 100px auto;
}

.aboutTextContainer{
  display:flex;
  flex-direction: column;
  margin: auto 0 0 0;
}

.aboutBodyText{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  display: block;
  font-weight: 200;
  box-sizing: border-box;
  margin: .5rem 0 0 0;
}

.aboutPhotoContainer{
  display: flex;
}

.aboutPhoto{
  height: 475px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}



/*CONTACT.HTML*/

.ContactContainer{
  width:75%;
  height:450px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  display:flex;
  margin-bottom: 80px;
}

.contactTextContainer{
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: white;
  padding: 50px;
}

.contactResumeSize {
  margin: 7px;
  width: 35px;
  height: 35px;
}

.contactLinkedSize {
  margin: 5px;
  width: 41px;
  height: 41px;
}

.contactHeader{
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}

.contactSubhead {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.contactText{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding-top: 40px;
}



.contactIcons{
  width: 40px;
  height: 40px;
  margin: 5px;
}

/*FOOTER Start*/
.footerContainer{
  border-top: 1px lightgray solid;
  width:100%;
}


.footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px 0;
  font-family: Karla;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.footerContactContainer{
  display: flex;
  margin-top: auto;
}

.footerContact{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  text-align: right;
}

.footerName{
  font-weight: bold;
}

.footerIconsContainer{
  display: flex;
  margin-left: auto;
}
.footerLinkedSize {
  width: 29px;
  height: 29px;
}

.footerDribbble{
  margin-left: 5px;
}


/*FIXED Section Start*/

.fIcons{
  display:block;
}

.fixed {
  position: fixed;
  top: 50%;
  right: 0;
  padding-right: 3%;
}

.fixedIcons{
  margin: 3px;
  width:30px;
  height:30px;
}

/*CSS Animations*/

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}

@media screen and (max-width: 1000px){
  .navbar{
    height: 70px;
    padding: 15px 2%;
  }
  
  .navbar-collapse{
    text-align: right;
  }
  
  .navbar-nav{
    padding: 5px;
    background-color: white;
  }
  
/*ABOUT.HTML V2 MOBILE*/
.aboutContainer{
  grid-template-columns: unset;
}

.aboutTextContainer{
  text-align: center;
  margin-top: 20px;
}

.aboutBodyText{
  text-align: center;
}

.aboutPhoto{
  height: 400px;
}

  /*
  .myStory{
    margin:0;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  .aboutContainer {
    width: 100%;
    text-align: center;
  }
  
  .aboutCardRight{
    grid-template-columns: 1fr;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .aboutCardLeft{
    grid-template-columns: 1fr;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .aboutMobilePhoto{
    display:block;
  }
  
  .aboutDesktopPhoto{
    display:none;
  }
  
  .aboutTextLeft{
    text-align:center;
    margin:0;
    margin-top: 20px;
    margin-right: 5%;
    margin-left: 5%;
  }
  
  .aboutTextRight{
    margin:0;
    margin-top: 20px;
    margin-right: 5%;
    margin-left: 5%;
  }
*/

/*Intro Section*/

.introContainer{
  grid-template-columns: 1fr;
  width: 80%;
  text-align:center;
  margin-right: auto;
  margin-left: auto;
}

.introPhoto{
  width:75%;
}

.introTextContainer{
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.introName{
  font-size: 28px;
}

.introRole{
  font-size: 18px;
}

.introSummary{
  font-size: 16px;
  width: 100%;
}

.introBtnContainer{
  grid-template-columns: 1fr;
}

.introBtn{
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn{
  width:90%;
  margin-left:auto;
  margin-right:auto;
}

/*WORK.HTML MOBILE*/

.workCardContainer{
  margin-top: 30px;
  margin-bottom: 20px;
  width:90%;
  margin-right: auto;
  margin-left: auto;
}

.artpass{
  grid-template-areas: "apIMG"
  "content";
  grid-template-columns: unset;
}

.blossom{
  grid-template-areas: "blosIMG"
  "content";
  grid-template-columns: unset;
}

.wri{
  grid-template-areas: "wriIMG"
  "content";
  grid-template-columns: unset;
}

.workBtnContainer{
  display: block;
}

.fakeWorkBtn{
  display:none;
}

.workPhoto{
  height: 250px;
}

.workPhotoContainer{
  padding: 25px 0;
}

.workMobileTextContainer{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.workTitle{
  font-size:22px;
}

.workSummary{
  font-size: 16px;
}

.fixed{
  display: none;
}

/*ABOUT.HTML MOBILE*/


/*CONTACT.HTML MOBILE*/

.contactTextContainer{
  padding: 50px 0;
}

.ContactContainer{
  width:90%;
}
.contactHeader{
  font-size: 32px;
}

.contactSubhead{
  font-size: 24px;;
}

.contactText{
  font-size: 18px;
}

.contactName{
  font-size: 20px;
  font-weight: bold;
}

.contactIcons{
  height:35px;
  width: 35px;
  margin: 7px;
}
}

@media screen and (max-width: 600px){

  .introPhoto{
    width: 100%;
  }
}