

.btn{
  font-family: Karla, sans-serif;
  margin: 2px;
  width: 210px;
}

.btnCTA{
  font-weight:bold;
  color: white;
  background-color: #736F49;
}

.btnSCND{
  border: #736F49 solid 1px;
  color: #736F49;
  font-weight: bold;
}

.btnCTA:hover{
  background-color: #395359;
  color: white;
}
.btnSCND:hover{
  border: #395359 solid 1px;
  color: #395359;
}


/*NavBar Code START*/

.bg-light{
    background-color:white !important;
}

.navbar-brand{
  margin-left: 2rem;
}

.navbar{
  height: 100px;
}

.justify-content-end {
-ms-flex-pack: end!important;
margin:2%;
margin-left: auto;
margin-right: 2%;
}

.nav-item{
  margin:15px;
}




.navbar-nav{
  font-family: Karla;
  
}

.nav-link{
  color:gray !important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,0,.9) !important;
}

li a:hover { color: black !important; background-color: white; }




/*Intro Section START*/

.introContainer{
  display:grid;
  grid-template-columns: 1fr 1fr;
  width: 63%;
  margin-right: auto;
  margin-left: auto;
}

.introPhotoContainer{
  display: flex;
}

.introPhoto{
  height: 475px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.introTextContainer{
  display:flex;
  flex-direction: column;
  margin-top:auto;
  margin-left: 5%;
}

.introName {
  font-family: 'Karla', sans-serif;
  font-size: 28px;
  display: inline-block;
  margin: 0%;
  font-weight:700;
}

.introRole {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  display: inline-block;
  font-weight: 400;
}


.introSummary {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  width: 436px;
  display: block;
  font-weight: 200;
  box-sizing: border-box;
}

.introBtnContainer{
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.btn1{
  margin-left: 0;
}

.introBtn{
  margin-bottom: 0;
}

/*Work Section START*/

.workHeader{
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 70px;
}

.workSectionContainer{
  margin-bottom: 100px;
}

.workCardContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.workTextContainerRight{
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-left: 5%;
  margin-bottom: 8px;
}

.workTextContainerLeft{
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 8px;
  margin-right: 5%;
  text-align: right;
}

.workTitle{
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}

.workRole{
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
}

.workTools{
  margin-bottom: 1rem;
}

.workSummary{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.workBtnLeft{
  margin-left:auto;
  margin-right: 0;
}

.workPhotoContainer{
  display: flex;
}

.workMobilePhoto{
  display: none;
}

.Container1{
  background-color: #7B9EA6;
}

.Container2{
  background-color: #B396A1;
}

.Container3{
  background-color: #F2EBA7;
}

.workPhoto{
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}



/*ABOUT.HTML*/

#myStory{
  margin-top:0;
}

.aboutContainer{
  display: grid;
  width: 65%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
}

.aboutCardRight{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.aboutPhotoContainer{
}

.aboutPhoto{
  height: 274px;
  border: solid 1px #395359;
}

.aboutTextRight{
  margin-top: auto;
  margin-left: 3%;
}

.aboutTextLeft{
  margin-top: auto;
  margin-right:3%;
  text-align: right;
}

.aboutCardLeft{
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top:100px;
  margin-bottom: 100px;
}

.aboutHeader{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-bottom: .75rem;
  font-size: 18px;
}

.aboutParagraph{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 0;
}

/*FIXED Section Start*/
#linkedin{
  display: block;
}

#linkedinIcon{
  width:25px;
  height:25px;
}

#behance{
  display: block;
}

#behanceIcon{
  width:25px;
  height:25px;
}

#dribbble{
  display: block;
}

#dribbbleIcon{
  width:25px;
  height:25px;
}

#resume{
  display:block;
}

#resumeicon{
  width:25px;
  height:25px;
}

.fixed {
  position: fixed;
  top: 50%;
  right: 0;
  padding-right: 2%;
}

.fixedIcons{
  margin: 3px;
}


@media only screen and (max-width: 600px) {
.navbar{
  height: 70px;
}

.navbar-collapse{
  text-align:right;
  margin-left: 60%;
  border-radius: 15px 0 0 15px;
}

/*Intro Section*/

.introPhoto{
  height: 275px;
}

.introContainer{
  grid-template-columns: 1fr;
  width: 100%;
  text-align: center;
}

.introTextContainer{
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.introName{
  font-size: 28px;
}

.introRole{
  font-size: 18px;
}

.introSummary{
  font-size: 16px;
}

.introBtnContainer{
  grid-template-columns: 1fr;

}

.btn{
  width:100%;
}

.workHeader{
  font-size: 28px;
}

.workCardContainer{
  grid-template-columns: 1fr;
  margin-top: 30px;
  margin-bottom: 20px;
}

.workPhoto{
  height: 250px;
}

.workMobileTextContainer{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.workMobilePhoto{
  display: flex;
}

.workDesktopPhoto{
  display: none
}

.workHeader{
  margin-top: 75px;
  margin-bottom: 50px;
}

.workTitle{
  font-size:22px;
}

.workSummary{
  font-size: 16px;
}

.btn{
  margin-left:0;
  margin-right:0;
}

.introBtn{
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.fixed{
  display: none;
}
}
